.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.vscode
.Renviron
rsconnect

# project specific 
scripts/raw_data
private_repos/
workspace/
app/data
node_modules/
package.json
cypress.config.js
package-lock.json
scripts/trisk_k8s_api/st_inputs/*

